<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.thymeleaf.org"></html>
<meta>
    <meta charset="UTF-8">
    <title>hello thymeleaf</title>
</head>
<body>
    <span >hello html</span>
    <ul contenteditable="true">
        <li>zhaobicheng</li>
        <li>asd</li>
        <li>dsad</li>
    </ul>

    <article>
        <header>
            <h1>苹果</h1>
            <p>发表日期：<time>2017/12/27</time></p>
            <p>
                <b>苹果</b>,abcd
            </p>
            <footer>版权归赵必成所有</footer>
        </header>
    </article>

    <h1>技术资料</h1>

</body>
</html>